<h1>Editing Change Table Tweet Info</h1>

<%= render 'form', change_table_tweet_info: @change_table_tweet_info %>

<%= link_to 'Show', @change_table_tweet_info %> |
<%= link_to 'Back', change_table_tweet_infos_path %>
