<p id="notice"><%= notice %></p>

<p>
  <strong>Tweetid:</strong>
  <%= @change_table_tweet_info.tweetid %>
</p>

<%= link_to 'Edit', edit_change_table_tweet_info_path(@change_table_tweet_info) %> |
<%= link_to 'Back', change_table_tweet_infos_path %>
